.header {
  background-color: #f2ecf8;
  border: 10px solid #45b0d2;
  padding: 10px;
  border-style: double;
 
   

  h1 {
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    
  }
}
//maybe put an emoji here

p {
  font-size: 20px;
  background-color: #9b8ab4;
  padding: 10px;
  margin: 10px;
  font-style: italic;
}
