
.header {
    max-width: 800px; 
    margin: auto;
    padding: 20px;
    background-color: #f8efef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center; 
    margin-bottom: 20px; 
  }
  

  .header h1 {
    font-size: 36px;
    color: #333;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
  }
  
  
  app-job-panel {
    display: block;
  }
  