@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Jersey-10", sans-serif;

}
body {
    background-color: #9987cc;
    margin: 0;
  }
  
  main {
    padding: 50px;
  }
  
  .container {
    background-color: #ccd8bd;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(141, 107, 107, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: #123a05;
    margin: 15px;
    padding: 30px;
   
  
    h2 {
      margin: 0;
    }
  }