.jobs-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;

  }
  main {
    background-color:#F2ECF8 ;
  }
  
  // #27254C
  // #564A94 
  // #9B8AB4 
  // #F2ECF8 
  // #45B0D2 
  // #1F232F

