.album-details {
    border: 5px solid goldenrod;
    width: 300px;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: bisque;
    color: rgb(88, 109, 68);

    h4, p {
        font-style: oblique;
    }
}
h3 {
    color: rgb(7, 107, 7);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
