.container {
  max-width: 800px; 
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.container h2 {
  font-size: 30px;
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}


.container h3 {
  font-size: 18px;
  color: #555;
  margin: 5px 0;
}


apply-cancel-button {
  display: inline-block;
  margin: 10px 5px;
}

apply-cancel-button button {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}



.read-more-container {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.read-more-container h4 {
  margin-top: 0;
  font-size: 20px;
  color: #444;
}


p {
  margin: 0;
  padding: 5px 0;
  color: #8f1717;
}

